<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Cryptop</title>

    <!-- slider stylesheet -->
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/userdemo/css/bootstrap.css"/>

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/userdemo/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="/userdemo/css/responsive.css" rel="stylesheet"/>
</head>

<body>
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="/userdemo/index.html">
            <span>
              Cryptop
            </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item active">
                                <a class="nav-link" href="http://localhost:8443/userdemo/api/web/html-controller/home">Home
                                    <span
                                            class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#" onclick="selectAllUsers()">
                                    <span>Users</span> <img src="/userdemo/images/wallet.png" alt=""/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://localhost:8443/userdemo/api/web/html-controller/login">
                                    Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://localhost:8443/userdemo/api/web/logoutusers"
                                   id="logout"> Logout
                                    out</a>
                            </li>
                        </ul>
                        <div class="user_option">
                            <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <div>
                                            <h1>
                                                Digital Currency
                                            </h1>
                                            <h2>
                                                The Future of Trading.
                                            </h2>
                                            <div class="">
                                                <a href="">
                                                    Get Started
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="img-box">
                                        <img src="/userdemo/images/slider-img.png" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <div>
                                            <h1>
                                                Digital Currency
                                            </h1>
                                            <h2>
                                                The Future of Trading.
                                            </h2>
                                            <div class="">
                                                <a href="">
                                                    Get Started
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="img-box">
                                        <img src="/userdemo/images/slider-img.png" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <div>
                                            <h1>
                                                Digital Currency
                                            </h1>
                                            <h2>
                                                The Future of Trading.
                                            </h2>
                                            <div class="">
                                                <a href="">
                                                    Get Started
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="img-box">
                                        <img src="/userdemo/images/slider-img.png" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <div>
                                            <h1>
                                                Digital Currency
                                            </h1>
                                            <h2>
                                                The Future of Trading.
                                            </h2>
                                            <div class="">
                                                <a href="">
                                                    Get Started
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="img-box">
                                        <img src="/userdemo/images/slider-img.png" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="detail-box">
                                        <div>
                                            <h1>
                                                Digital Currency
                                            </h1>
                                            <h2>
                                                The Future of Trading.
                                            </h2>
                                            <div class="">
                                                <a href="">
                                                    Get Started
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="img-box">
                                        <img src="/userdemo/images/slider-img.png" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>


<!-- info section -->
<section class="info_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_contact">
                    <div class="info_logo">
                        <a href="index.html">
                <span>
                  Cryptop
                </span>
                        </a>
                    </div>
                    <h5>
                        Contact Us
                    </h5>
                    <div>
                        <div class="img-box">
                            <img src="/userdemo/images/location.png" width="18px" alt=""/>
                        </div>
                        <p>
                            Page when looking at its layou
                        </p>
                    </div>
                    <div>
                        <div class="img-box">
                            <img src="/userdemo/images/phone.png" width="18px" alt=""/>
                        </div>
                        <p>
                            +01 1234567890
                        </p>
                    </div>
                    <div>
                        <div class="img-box">
                            <img src="/userdemo/images/envelope.png" width="18px" alt=""/>
                        </div>
                        <p>
                            demo@gmail.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_info">
                    <h5>
                        Invest Money
                    </h5>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration
                        in some form, by injected humour,
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="info_links">
                    <h5>
                        Useful Links
                    </h5>
                    <ul>
                        <li>
                            <a href="">
                                There are many
                            </a>
                        </li>
                        <li>
                            <a href="">
                                variations of
                            </a>
                        </li>
                        <li>
                            <a href="">
                                passages of
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Lorem Ipsum
                            </a>
                        </li>
                        <li>
                            <a href="">
                                available, but the
                            </a>
                        </li>
                        <li>
                            <a href="">
                                majority have
                            </a>
                        </li>
                        <li>
                            <a href="">
                                suffered
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_form ">
                    <h5>
                        Newsletter
                    </h5>
                    <form action="">
                        <input type="email" placeholder="Enter your email"/>
                        <button>
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end info_section -->

<!-- footer section -->
<section class="container-fluid footer_section">
    <p>
        &copy; 2019 All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
    </p>
</section>
<!-- footer section -->

<script type="text/javascript" src="/userdemo/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/userdemo/js/bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- owl carousel script
  -->
<script type="text/javascript">
    $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 0,
        navText: [],
        center: true,
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            1000: {
                items: 3
            }
        }
    });
</script>
<script type="text/javascript">
    // 获取 sessionjwt 的值
    let sessionjwt = sessionStorage.getItem("jwtToken");

    // 判断 sessionjwt 的值是否为 null
    if (sessionjwt === null) {
        // 删除 Logout 导航链接
        document.querySelector('.nav-item > a[href="http://localhost:8443/userdemo/api/web/logoutusers"]').parentNode.remove();
    } else {
        // 删除 Login 导航链接
        document.querySelector('.nav-item > a[href="http://localhost:8443/userdemo/api/web/html-controller/login"]').parentNode.remove();
    }
    // 监听点击 Logout 链接的事件
    document.getElementById('logout').addEventListener('click', function (event) {
        event.preventDefault(); // 阻止默认的超链接跳转行为

        // 移除 sessionjwt
        sessionStorage.removeItem("jwtToken");

        // 刷新页面
        location.reload();
    });

    // 添加 Authorization 头部并发送请求
    function selectAllUsers() {
        let sessionjwt = sessionStorage.getItem("jwtToken");
        let myHeaders = new Headers();
        console.log("加入header開始")
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Authorization", "Bearer " + sessionjwt);

        fetch("/userdemo/api/web/html-controller/users", {
            method: "GET",
            headers: myHeaders
        });
        console.log("fetch完成")
    }
</script>
<!-- end owl carousel script -->
</body>

</html>