<!DOCTYPE html>
<html>

<head>
    <style>
        td {
            border: 2px black solid;
            background-color: lightblue;
        }
    </style>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Cryptop</title>

    <!-- slider stylesheet -->
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/userdemo/css/bootstrap.css"/>

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/userdemo/css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="/userdemo/css/responsive.css" rel="stylesheet"/>
</head>

<body>
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="/userdemo/index.html">
                        <span>
                            Cryptop
                        </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item active">
                                <a class="nav-link"
                                   href="http://localhost:8443/userdemo/api/web/html-controller/home">Home
                                    <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#" onclick="selectAllUsers()">
                                    <span>Users</span> <img src="/userdemo/images/wallet.png" alt=""/>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="http://localhost:8443/userdemo/api/web/html-controller/login">
                                    Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://localhost:8443/userdemo/api/web/logoutusers"
                                   id="logout"> Logout
                                    out</a>
                            </li>
                        </ul>
                        <div class="user_option">
                            <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <div id="userdemobanner">
        <section class=" slider_section position-relative">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                    Digital Currency
                                                </h1>
                                                <h2>
                                                    The Future of Trading.
                                                </h2>
                                                <div class="">
                                                    <a href="">
                                                        Get Started
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                            <img src="/userdemo/images/slider-img.png" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                    Digital Currency
                                                </h1>
                                                <h2>
                                                    The Future of Trading.
                                                </h2>
                                                <div class="">
                                                    <a href="">
                                                        Get Started
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                            <img src="/userdemo/images/slider-img.png" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                    Digital Currency
                                                </h1>
                                                <h2>
                                                    The Future of Trading.
                                                </h2>
                                                <div class="">
                                                    <a href="">
                                                        Get Started
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                            <img src="/userdemo/images/slider-img.png" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                    Digital Currency
                                                </h1>
                                                <h2>
                                                    The Future of Trading.
                                                </h2>
                                                <div class="">
                                                    <a href="">
                                                        Get Started
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                            <img src="/userdemo/images/slider-img.png" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <h1>
                                                    Digital Currency
                                                </h1>
                                                <h2>
                                                    The Future of Trading.
                                                </h2>
                                                <div class="">
                                                    <a href="">
                                                        Get Started
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                            <img src="/userdemo/images/slider-img.png" alt=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end slider section -->
</div>


<!-- info section -->
<section class="info_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_contact">
                    <div class="info_logo">
                        <a href="index.html">
                                <span>
                                    Cryptop
                                </span>
                        </a>
                    </div>
                    <h5>
                        Contact Us
                    </h5>
                    <div>
                        <div class="img-box">
                            <img src="/userdemo/images/location.png" width="18px" alt=""/>
                        </div>
                        <p>
                            Page when looking at its layou
                        </p>
                    </div>
                    <div>
                        <div class="img-box">
                            <img src="/userdemo/images/phone.png" width="18px" alt=""/>
                        </div>
                        <p>
                            +01 1234567890
                        </p>
                    </div>
                    <div>
                        <div class="img-box">
                            <img src="/userdemo/images/envelope.png" width="18px" alt=""/>
                        </div>
                        <p>
                            demo@gmail.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_info">
                    <h5>
                        Invest Money
                    </h5>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered
                        alteration
                        in some form, by injected humour,
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="info_links">
                    <h5>
                        Useful Links
                    </h5>
                    <ul>
                        <li>
                            <a href="">
                                There are many
                            </a>
                        </li>
                        <li>
                            <a href="">
                                variations of
                            </a>
                        </li>
                        <li>
                            <a href="">
                                passages of
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Lorem Ipsum
                            </a>
                        </li>
                        <li>
                            <a href="">
                                available, but the
                            </a>
                        </li>
                        <li>
                            <a href="">
                                majority have
                            </a>
                        </li>
                        <li>
                            <a href="">
                                suffered
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_form ">
                    <h5>
                        Newsletter
                    </h5>
                    <form action="">
                        <input type="email" placeholder="Enter your email"/>
                        <button>
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end info_section -->

<!-- footer section -->
<section class="container-fluid footer_section">
    <p>
        &copy; 2019 All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
    </p>
</section>
<!-- footer section -->

<script type="text/javascript" src="/userdemo/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/userdemo/js/bootstrap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- owl carousel script
-->
<script type="text/javascript">
    $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 0,
        navText: [],
        center: true,
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            1000: {
                items: 3
            }
        }
    });
</script>
<script type="text/javascript">
    // 获取 sessionjwt 的值
    let sessionjwt = sessionStorage.getItem("jwtToken");

    // 判断 sessionjwt 的值是否为 null
    if (sessionjwt === null) {
        // 删除 Logout 导航链接
        document.querySelector('.nav-item > a[href="http://localhost:8443/userdemo/api/web/logoutusers"]').parentNode.remove();
    } else {
        // 删除 Login 导航链接
        document.querySelector('.nav-item > a[href="http://localhost:8443/userdemo/api/web/html-controller/login"]').parentNode.remove();
    }
    // 监听点击 Logout 链接的事件
    document.getElementById('logout').addEventListener('click', function (event) {
        event.preventDefault(); // 阻止默认的超链接跳转行为

        // 移除 sessionjwt
        sessionStorage.removeItem("jwtToken");

        // 刷新页面
        location.reload();
    });

    // 添加 Authorization 头部并发送请求
    function selectAllUsers() {
        let sessionjwt = sessionStorage.getItem("jwtToken");
        let myHeaders = new Headers();

        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Authorization", "Bearer " + sessionjwt);


        fetch("/userdemo/user/selectallusers", {
            method: "GET",
            headers: myHeaders
        }).then(
            function (response) {
                if (response.status != 200) {
                    console.log(response.satus);
                    return;
                }
                console.log(response);
                response.json().then(function (n) {
                    console.log(n);
                    $("#userdemobanner").empty();
                    let banners = document.getElementById("userdemobanner");

                    // Create the table element
                    let table = document.createElement("table");

                    // Create the table header row
                    let headerRow = document.createElement("tr");
                    headerRow.innerHTML = "<th></th><th>姓名</th><th>帳號</th><th>電話</th><th>建立時間</th><th>修改時間</th><th>封鎖</th><th>修改</th>";
                    table.appendChild(headerRow);

                    // Loop through the data and create table rows
                    for (let i = 0; i < n.length; i++) {
                        let rowData = n[i];

                        // Create a table row
                        let row = document.createElement("tr");

                        // Create checkbox cell
                        let checkboxCell = document.createElement("td");
                        let checkbox = document.createElement("input");
                        checkbox.type = "checkbox";
                        checkbox.id = "checkbox" + rowData.id;
                        checkboxCell.appendChild(checkbox);
                        row.appendChild(checkboxCell);

                        // Create cells for other data
                        let nameCell = document.createElement("td");
                        nameCell.textContent = rowData.username;
                        row.appendChild(nameCell);

                        let accountCell = document.createElement("td");
                        accountCell.textContent = rowData.email;
                        row.appendChild(accountCell);

                        let phoneCell = document.createElement("td");
                        phoneCell.textContent = rowData.userphone;
                        row.appendChild(phoneCell);

                        let createdCell = document.createElement("td");
                        createdCell.textContent = rowData.registerdata;
                        row.appendChild(createdCell);

                        let modifiedCell = document.createElement("td");
                        modifiedCell.textContent = rowData.updatadata;
                        row.appendChild(modifiedCell);

                        // Create the block button cell
                        let blockCell = document.createElement("td");
                        let blockButton = document.createElement("button");
                        let buttonColor = rowData.accountnonlocked ? "green" : "red";
                        blockButton.style.backgroundColor = buttonColor;
                        blockButton.textContent = "封鎖";
                        blockButton.onclick = function () {
                            changelocked(rowData.id, rowData.accountnonlocked);
                        };
                        blockCell.appendChild(blockButton);
                        row.appendChild(blockCell);

                        // Create the modify button cell
                        let modifyCell = document.createElement("td");
                        let modifyButton = document.createElement("button");
                        modifyButton.textContent = "修改";
                        modifyButton.onclick = function () {
                            modifyUser(rowData.id);
                        };
                        modifyCell.appendChild(modifyButton);
                        row.appendChild(modifyCell);

                        // Append the row to the table
                        table.appendChild(row);
                    }

                    // Append the table to the banners element
                    banners.appendChild(table);

                    // 創建刪除按鈕
                    let deleteButton = document.createElement("button");
                    deleteButton.innerHTML = "刪除";
                    deleteButton.onclick = function () {
                        // 創建空陣列來存儲選中項目的ID
                        let selectedIds = [];

                        // 遍歷勾選框，將選中項目的ID添加到陣列中
                        let checkboxes = document.querySelectorAll('input[type="checkbox"]');
                        for (let i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i].checked) {
                                let userId = checkboxes[i].id.replace("checkbox", "");
                                selectedIds.push(userId);
                            }
                        }

                        // 將選中項目的ID陣列傳送至後端進行刪除操作
                        deluser(selectedIds);
                        console.log(selectedIds)
                    };
                    banners.appendChild(deleteButton);
                    let addButton = document.createElement("button");
                    addButton.textContent = "新增使用者";
                    addButton.onclick = adduser;
                    banners.appendChild(addButton);
                });
            });
    }

    function changelocked(id, accountnonlocked) {
        // 发送 fetch 请求来更新 accountlocked
        let newAccountLocked = !accountnonlocked; // Get the opposite value
        let sessionjwt = sessionStorage.getItem("jwtToken");
        let myHeaders = new Headers();

        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Authorization", "Bearer " + sessionjwt);
        console.log(myHeaders)
        fetch("/userdemo/user/updateaccountlocked/" + id, {
            method: "PUT",
            body: JSON.stringify({accountnonlocked: newAccountLocked}),
            headers: myHeaders
        })
            .then(function (response) {
                return response.text(); // 获取响应的文本内容
            })
            .then(function (data) {
                alert(data)
                selectAllUsers();
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    }

    function deluser(selectedIds) {
        if (confirm("確定刪除選中的使用者資料？")) {
            let sessionjwt = sessionStorage.getItem("jwtToken");
            let myHeaders = new Headers();

            myHeaders.append("Content-Type", "application/json");
            myHeaders.append("Authorization", "Bearer " + sessionjwt);
            console.log(selectedIds)


            fetch('/userdemo/user/deleteuserbyId', {
                method: 'DELETE',
                headers: myHeaders,
                body: JSON.stringify(selectedIds)
            })
                .then(function (response) {
                    return response.text(); // 获取响应的文本内容
                })
                .then(function (data) {
                    alert(data)
                    selectAllUsers();
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });

        } else {
            // 取消刪除時的處理
        }
    }

    function modifyUser(id) {
        if (confirm("確定修改使用者資料？")) {
            $("#userdemobanner").empty();

            let table = document.createElement("table");
            table.id = "formnew";

            let thead = document.createElement("thead");
            let trHead = document.createElement("tr");
            let th1 = document.createElement("th");
            th1.textContent = "用戶id";
            let th2 = document.createElement("th");
            th2.textContent = "使用者帳號";
            let th3 = document.createElement("th");
            th3.textContent = "使用者密碼";
            let th4 = document.createElement("th");
            th4.textContent = "使用者名稱";
            let th5 = document.createElement("th");
            th5.textContent = "使用者電話";
            let th6 = document.createElement("th");
            th6.textContent = "創建日期";
            let th7 = document.createElement("th");
            th7.textContent = "修改日期";

            trHead.appendChild(th1);
            trHead.appendChild(th2);
            trHead.appendChild(th3);
            trHead.appendChild(th4);
            trHead.appendChild(th5);
            trHead.appendChild(th6);
            trHead.appendChild(th7);
            thead.appendChild(trHead);

            let tbody = document.createElement("tbody");
            let trData = document.createElement("tr");
            let td1 = document.createElement("td");
            let td2 = document.createElement("td");
            let td3 = document.createElement("td");
            let td4 = document.createElement("td");
            let td5 = document.createElement("td");
            let td6 = document.createElement("td");
            let td7 = document.createElement("td");

            let input1 = document.createElement("input");
            input1.type = "text";
            input1.name = "id";
            input1.id = "id";
            input1.readOnly = true;
            td1.appendChild(input1);

            let input2 = document.createElement("input");
            input2.type = "text";
            input2.name = "email";
            input2.id = "email";
            td2.appendChild(input2);

            let input3 = document.createElement("input");
            input3.type = "text";
            input3.name = "password";
            input3.id = "password";
            td3.appendChild(input3);

            let input4 = document.createElement("input");
            input4.type = "text";
            input4.name = "username";
            input4.id = "username";
            td4.appendChild(input4);

            let input5 = document.createElement("input");
            input5.type = "text";
            input5.name = "userphone";
            input5.id = "userphone";
            td5.appendChild(input5);

            let input6 = document.createElement("input");
            input6.type = "text";
            input6.name = "registerdata";
            input6.id = "registerdata";
            input6.readOnly = true;
            td6.appendChild(input6);

            let input7 = document.createElement("input");
            input7.type = "text";
            input7.name = "updatadata";
            input7.id = "updatadata";
            input7.readOnly = true;
            td7.appendChild(input7);
            td1.style.width = "50%"; // 添加样式设置宽度为一半
            trData.appendChild(td1);
            trData.appendChild(td2);
            trData.appendChild(td3);
            trData.appendChild(td4);
            trData.appendChild(td5);
            trData.appendChild(td6);
            trData.appendChild(td7);
            tbody.appendChild(trData);

            table.appendChild(thead);
            table.appendChild(tbody);

            let submitButton = document.createElement("button");
            submitButton.textContent = "提交";
            submitButton.onclick = submitupdate;
            table.appendChild(submitButton);

            $("#userdemobanner").empty();
            $("#userdemobanner").append(table);

            let sessionjwt = sessionStorage.getItem("jwtToken");
            let myHeaders = new Headers();

            myHeaders.append("Content-Type", "application/json");
            myHeaders.append("Authorization", "Bearer " + sessionjwt);

            fetch('/userdemo/user/selectbyid/' + id, {
                method: 'GET',
                headers: myHeaders
            })
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error(response.status);
                    }
                    return response.json();
                })
                .then(function (data) {
                    console.log(data);
                    $('#id').val(data.id);
                    $('#username').val(data.username);
                    $('#email').val(data.email);
                    $('#registerdata').val(data.registerdata);
                    $('#userphone').val(data.userphone);
                    $('#updatadata').val(data.updatadata);
                })
                .catch(function (error) {
                    console.log(error);
                });
        } else {
            // 取消修改时的处理
        }
    }


    function submitupdate() {
        let jsonData = {
            id: document.getElementById('id').value,
            email: document.getElementById('email').value,
            password: document.getElementById('password').value,
            username: document.getElementById('username').value,
            userphone: document.getElementById('userphone').value,
            registerdata: new Date(document.getElementById('registerdata').value),
            updatadata: new Date(document.getElementById('updatadata').value),
        };

        let sessionjwt = sessionStorage.getItem('jwtToken');
        let myHeaders = new Headers();
        myHeaders.append('Content-Type', 'application/json');
        myHeaders.append('Authorization', 'Bearer ' + sessionjwt);
        console.log(jsonData)
        fetch('/userdemo/user/updatebyid', {
            method: 'PUT',
            body: JSON.stringify(jsonData), // 将 jsonData 转换为 JSON 字符串并作为请求的 body
            headers: myHeaders,
        })
            .then(function (response) {
                return response.text(); // 获取响应的文本内容
            })
            .then(function (data) {
                alert(data);
                selectAllUsers();
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    }

    function adduser() {
        // 清空用户列表
        $("#userdemobanner").empty();

        // 创建注册表单元素
        let signUpForm = document.createElement("div");
        signUpForm.classList.add("sign-up-form");

        // 创建 Email Address 输入框
        let emailLabel = document.createElement("label");
        emailLabel.classList.add("label");
        emailLabel.textContent = "Email Address";

        let emailInput = document.createElement("input");
        emailInput.id = "email";
        emailInput.type = "text";
        emailInput.classList.add("input");
        emailInput.placeholder = "註冊帳號(信箱)";

        signUpForm.appendChild(emailLabel);
        signUpForm.appendChild(emailInput);

        // 创建 Password 输入框
        let passwordLabel = document.createElement("label");
        passwordLabel.classList.add("label");
        passwordLabel.textContent = "Password";

        let passwordInput = document.createElement("input");
        passwordInput.id = "password";
        passwordInput.type = "password";
        passwordInput.classList.add("input");
        passwordInput.dataset.type = "password";
        passwordInput.placeholder = "註冊密碼";

        signUpForm.appendChild(passwordLabel);
        signUpForm.appendChild(passwordInput);

        // 创建 Repeat Password 输入框
        let repeatPasswordLabel = document.createElement("label");
        repeatPasswordLabel.classList.add("label");
        repeatPasswordLabel.textContent = "Repeat Password";

        let repeatPasswordInput = document.createElement("input");
        repeatPasswordInput.id = "password2";
        repeatPasswordInput.type = "password";
        repeatPasswordInput.classList.add("input");
        repeatPasswordInput.dataset.type = "password";
        repeatPasswordInput.placeholder = "密碼二次確認";

        signUpForm.appendChild(repeatPasswordLabel);
        signUpForm.appendChild(repeatPasswordInput);

        // 创建 Username 输入框
        let usernameLabel = document.createElement("label");
        usernameLabel.classList.add("label");
        usernameLabel.textContent = "Username";

        let usernameInput = document.createElement("input");
        usernameInput.id = "username";
        usernameInput.type = "text";
        usernameInput.classList.add("input");
        usernameInput.placeholder = "用戶名稱";

        signUpForm.appendChild(usernameLabel);
        signUpForm.appendChild(usernameInput);

        // 创建 Userphone 输入框
        let userphoneLabel = document.createElement("label");
        userphoneLabel.classList.add("label");
        userphoneLabel.textContent = "Userphone";

        let userphoneInput = document.createElement("input");
        userphoneInput.id = "userphone";
        userphoneInput.type = "text";
        userphoneInput.classList.add("input");
        userphoneInput.placeholder = "用戶電話";

        signUpForm.appendChild(userphoneLabel);
        signUpForm.appendChild(userphoneInput);

        // 创建注册按钮
        let registerButton = document.createElement("button");
        registerButton.textContent = "註冊";
        registerButton.onclick = registeruser;


        signUpForm.appendChild(registerButton);

        // 将注册表单添加到指定位置
        $("#userdemobanner").append(signUpForm);
    }

    function registeruser() {
        // 取得表單資料
        let raw = JSON.stringify({
            email: $("#email").val(),
            password: $("#password").val(),
            username: $("#username").val(),
            userphone: $("#userphone").val()
        });
        if ($("#email").val() === "") {
            alert('帳號未填寫');
            return;
        }
        if ($("#password").val() === "") {
            alert('密碼未填寫');
            return;
        }
        if ($("#username").val() === "") {
            alert('名稱未填寫');
            return;
        }
        if ($("#userphone").val() === "") {
            alert('電話未填寫');
            return;
        }
        if ($("#password").val() != $("#password2").val()) {
            alert('兩次密碼不相符');
            return;
        }
        if (confirm("確定創建帳號?")) {
            $.ajax({
                type: 'post',
                url: '/userdemo/api/v1/auth/register',
                dataType: 'text',
                contentType: 'application/json',
                data: raw,
                success: function (data, textStatus, xhr) {
                    alert("註冊成功");
                    selectAllUsers();
                },
                error: function (xhr, textStatus, errorThrown) {
                    if (xhr.status === 400) {
                        alert("帳號已有人使用");
                    } else {
                        alert("發生錯誤：" + xhr.status);
                    }
                },
            });

        }
    }

</script>
<!-- end owl carousel script -->
</body>

</html>